In [1]:
import pandas as pd
import pandera as pa

In [5]:
valores_ausentes = ['**','###!','####','****','*****','NULL']
df = pd.read_csv("ocorrencia_2010_2020.csv", parse_dates=['ocorrencia_dia'], dayfirst=True, na_values=valores_ausentes)
df.head(10)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,06/01/2010,17:53:00,1
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,1
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,10/01/2010,20:00:00,1

In [14]:
schema = pa.DataFrameSchema(
    columns = {
        "codigo_ocorrencia":pa.Column(pa.Int),
        "codigo_ocorrencia2":pa.Column(pa.Int),
        "ocorrencia_classificacao":pa.Column(pa.String),
        "ocorrencia_cidade":pa.Column(pa.String),
        "ocorrencia_uf":pa.Column(pa.String),
        "ocorrencia_aerodromo":pa.Column(pa.String, nullable=True),
        "ocorrencia_dia":pa.Column(pa.String, nullable=True),
        "ocorrencia_hora":pa.Column(pa.String, nullable=True),
    }
)

In [15]:
schema.validate(df)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,03/01/2010,12:00:00,1
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,04/01/2010,17:30:00,1
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1
...,...,...,...,...,...,...,...,...,...
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [17]:
df.dtypes

codigo_ocorrencia            int64
codigo_ocorrencia2           int64
ocorrencia_classificacao    object
ocorrencia_cidade           object
ocorrencia_uf               object
ocorrencia_aerodromo        object
ocorrencia_dia              object
ocorrencia_hora             object
total_recomendacoes         object
dtype: object

In [18]:
df.loc[1]

codigo_ocorrencia                40349
codigo_ocorrencia2               40349
ocorrencia_classificacao     INCIDENTE
ocorrencia_cidade                BELÉM
ocorrencia_uf                       PA
ocorrencia_aerodromo              SBBE
ocorrencia_dia              03/01/2010
ocorrencia_hora               11:05:00
total_recomendacoes                  1
Name: 1, dtype: object

In [19]:
df.iloc[-1]

codigo_ocorrencia               79844
codigo_ocorrencia2              79844
ocorrencia_classificacao    INCIDENTE
ocorrencia_cidade                 -43
ocorrencia_uf                      37
ocorrencia_aerodromo               RJ
ocorrencia_dia                 BRASIL
ocorrencia_hora                  SBJR
total_recomendacoes               NÃO
Name: 5751, dtype: object

In [20]:
df.tail()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0
5749,79802,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,30/12/2020,00:54:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0
5751,79844,79844,INCIDENTE,-43,37,RJ,BRASIL,SBJR,NÃO

In [21]:
df.iloc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,10/01/2010,21:30:00,1
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,10/01/2010,14:50:00,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,10/01/2010,03:00:00,1
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,11/01/2010,17:00:00,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,12/01/2010,14:30:00,0

In [22]:
df.loc[10:15]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
10,39789,39789,INCIDENTE,SÃO PEDRO DO SUL,RS,NaN,10/01/2010,21:30:00,1
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,10/01/2010,14:50:00,8
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,10/01/2010,03:00:00,1
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,11/01/2010,17:00:00,2
14,40107,40107,ACIDENTE,GURUPÁ,PA,SNGU,12/01/2010,14:30:00,0
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,15/01/2010,21:22:00,0

In [23]:
df.loc[:,'ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    37
Name: ocorrencia_uf, Length: 5752, dtype: object

In [24]:
df['ocorrencia_uf']

0       RJ
1       PA
2       RJ
3       MT
4       RS
        ..
5747    SP
5748    TO
5749    RJ
5750    MS
5751    37
Name: ocorrencia_uf, Length: 5752, dtype: object

In [25]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2343
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            1
dtype: int64

In [26]:
df.isnull().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        2343
ocorrencia_dia                 1
ocorrencia_hora                6
total_recomendacoes            1
dtype: int64

In [31]:
filtro = df.ocorrencia_uf.isnull()
df.loc[filtro]

Empty DataFrame
Columns: [codigo_ocorrencia, codigo_ocorrencia2, ocorrencia_classificacao, ocorrencia_cidade, ocorrencia_uf, ocorrencia_aerodromo, ocorrencia_dia, ocorrencia_hora, total_recomendacoes]
Index: []

In [32]:
filtro = df.ocorrencia_aerodromo.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,03/01/2010,12:00:00,1
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,04/01/2010,17:30:00,1
5,39807,39807,INCIDENTE,SALVADOR,BA,NaN,06/01/2010,17:53:00,1
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,10/01/2010,20:00:00,1
...,...,...,...,...,...,...,...,...,...
5741,79754,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,NaN,28/12/2020,13:00:00,0
5744,79753,79753,INCIDENTE GRAVE,GOIATUBA,GO,NaN,29/12/2020,12:00:00,0
5745,79755,79755,ACIDENTE,MATO RICO,PR,NaN,29/12/2020,10:30:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0

In [33]:
filtro = df.ocorrencia_hora.isnull()
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
2920,52697,52697,INCIDENTE GRAVE,-42,890274583,RJ,BRASIL,NaN,NÃO
4100,78823,78823,INCIDENTE,CORUMBÁ,MS,NaN,09/07/2017,NaN,0
4491,78035,78035,INCIDENTE GRAVE,16,6372222,GO,BRASIL,NaN,NÃO
5472,79385,79385,INCIDENTE GRAVE,-51,6530,PA,BRASIL,NaN,NÃO
5514,79445,79445,ACIDENTE,-62,1408920,RO,BRASIL,NaN,NÃO
5735,79799,79799,INCIDENTE,-51,25234,RS,BRASIL,NaN,NÃO

In [34]:
df.count()

codigo_ocorrencia           5752
codigo_ocorrencia2          5752
ocorrencia_classificacao    5752
ocorrencia_cidade           5752
ocorrencia_uf               5752
ocorrencia_aerodromo        3409
ocorrencia_dia              5751
ocorrencia_hora             5746
total_recomendacoes         5751
dtype: int64

In [35]:
#ocorrências cuja classificação == INCIDENTE GRAVE 
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro, ['ocorrencia_cidade', 'total_recomendacoes']]

      ocorrencia_cidade total_recomendacoes
7              CANUTAMA                   3
8              CASCAVEL                   2
9         PARÁ DE MINAS                   1
29             CURITIBA                   2
35               PALMAS                   0
...                 ...                 ...
5741       NOVA MARINGÁ                   0
5744           GOIATUBA                   0
5746      MANOEL URBANO                   0
5748  LAGOA DA CONFUSÃO                   0
5750          VICENTINA                   0

[737 rows x 2 columns]

In [36]:
#ocorrências cuja classificação == INCIDENTE GRAVE 
filtro = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,10/01/2010,20:00:00,1
29,39709,39709,INCIDENTE GRAVE,CURITIBA,PR,SBBI,23/01/2010,16:36:00,2
35,39487,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,26/01/2010,16:50:00,0
...,...,...,...,...,...,...,...,...,...
5741,79754,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,NaN,28/12/2020,13:00:00,0
5744,79753,79753,INCIDENTE GRAVE,GOIATUBA,GO,NaN,29/12/2020,12:00:00,0
5746,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,29/12/2020,18:30:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0

In [37]:
#ocorrências cuja classificação == INCIDENTE GRAVE e estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
136,40270,40270,INCIDENTE GRAVE,PIRASSUNUNGA,SP,SDPY,15/04/2010,20:15:00,0
171,40620,40620,INCIDENTE GRAVE,GUARULHOS,SP,SBGR,06/05/2010,15:50:00,0
219,41411,41411,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,08/06/2010,19:30:00,2
297,42289,42289,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,29/07/2010,20:06:00,0
314,42323,42323,INCIDENTE GRAVE,SÃO JOSÉ DO RIO PRETO,SP,SBSR,05/08/2010,12:01:00,0
...,...,...,...,...,...,...,...,...,...
5591,79540,79540,INCIDENTE GRAVE,SÃO PAULO,SP,NaN,12/09/2020,13:10:00,0
5610,79566,79566,INCIDENTE GRAVE,REGENTE FEIJÓ,SP,SDYJ,27/09/2020,19:33:00,0
5704,79739,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,03/12/2020,14:42:00,0
5705,79705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,04/12/2020,15:30:00,0
5715,79718,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,11/12/2020,13:50:00,0

In [38]:
#ocorrências cuja classificação == INCIDENTE GRAVE ou o estado == SP
filtro1 = df.ocorrencia_classificacao == 'INCIDENTE GRAVE'
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 | filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2
9,39711,39711,INCIDENTE GRAVE,PARÁ DE MINAS,MG,NaN,10/01/2010,20:00:00,1
11,40069,40069,ACIDENTE,SÃO PAULO,SP,SBMT,10/01/2010,14:50:00,8
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,15/01/2010,15:00:00,0
...,...,...,...,...,...,...,...,...,...
5744,79753,79753,INCIDENTE GRAVE,GOIATUBA,GO,NaN,29/12/2020,12:00:00,0
5746,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,29/12/2020,18:30:00,0
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0

In [43]:
#ocorrências cuja (classificação == INCIDENTE GRAVE ou classificação == INCIDENTE) e o estado == SP
filtro1 = df.ocorrencia_classificacao.isin(['INCIDENTE GRAVE', 'INCIDENTE'])
filtro2 = df.ocorrencia_uf == 'SP'
df.loc[filtro1 & filtro2]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
16,39809,39809,INCIDENTE,SÃO PAULO,SP,NaN,15/01/2010,15:00:00,0
18,39828,39828,INCIDENTE,SANTOS,SP,NaN,15/01/2010,17:45:00,0
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,20/01/2010,13:10:00,0
27,39768,39768,INCIDENTE,CAMPINAS,SP,NaN,21/01/2010,20:45:00,0
33,39848,39848,INCIDENTE,GUARULHOS,SP,SBGR,25/01/2010,17:05:00,0
...,...,...,...,...,...,...,...,...,...
5704,79739,79739,INCIDENTE GRAVE,SÃO PAULO,SP,SBSP,03/12/2020,14:42:00,0
5705,79705,79705,INCIDENTE GRAVE,SOROCABA,SP,SDCO,04/12/2020,15:30:00,0
5715,79718,79718,INCIDENTE GRAVE,SÃO PAULO,SP,SBMT,11/12/2020,13:50:00,0
5742,79800,79800,INCIDENTE,SÃO PAULO,SP,SBMT,28/12/2020,10:15:00,0
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0

In [44]:
#ocorrencia cuja cidade começa com a letra c
filtro = df.ocorrencia_cidade.str[0] == 'C'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
6,40215,40215,INCIDENTE,COARI,AM,SBUY,07/01/2010,18:40:00,1
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
8,39156,39156,INCIDENTE GRAVE,CASCAVEL,PR,SBCA,10/01/2010,23:15:00,2
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,15/01/2010,21:22:00,0
20,40310,40310,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,18/01/2010,19:32:00,0
...,...,...,...,...,...,...,...,...,...
5661,79649,79649,INCIDENTE,CAMPINAS,SP,SBKP,04/11/2020,22:39:00,0
5663,79652,79652,INCIDENTE,CONFINS,MG,SBCF,06/11/2020,14:20:00,0
5680,79683,79683,INCIDENTE,CRUZEIRO DO SUL,AC,SBCZ,16/11/2020,22:00:00,0
5696,79692,79692,ACIDENTE,CATANDUVA,SP,SDCD,28/11/2020,12:50:00,0
5747,79804,79804,INCIDENTE,CAMPINAS,SP,SBKP,29/12/2020,19:00:00,0

In [45]:
#ocorrencia cuja cidade terminam com a letra a
filtro = df.ocorrencia_cidade.str[-1] == 'A'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
12,40414,40414,INCIDENTE,BRASÍLIA,DF,SBBR,10/01/2010,03:00:00,1
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,15/01/2010,21:22:00,0
25,39772,39772,INCIDENTE,UBERLÂNDIA,MG,NaN,20/01/2010,18:58:00,0
26,39847,39847,INCIDENTE,SOROCABA,SP,NaN,20/01/2010,13:10:00,0
...,...,...,...,...,...,...,...,...,...
5738,79787,79787,INCIDENTE,FORTALEZA,CE,SBFZ,23/12/2020,18:30:00,0
5739,79749,79749,ACIDENTE,MARITUBA,PA,NaN,26/12/2020,12:05:00,0
5743,79824,79824,ACIDENTE,RIO PARANAÍBA,MG,SNRP,28/12/2020,17:00:00,0
5744,79753,79753,INCIDENTE GRAVE,GOIATUBA,GO,NaN,29/12/2020,12:00:00,0
5750,79756,79756,INCIDENTE GRAVE,VICENTINA,MS,NaN,31/12/2020,09:00:00,0

In [46]:
#ocorrencia cuja cidade começa com a caracteres MA
filtro = df.ocorrencia_cidade.str[-2:] == 'MA'
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,15/01/2010,21:22:00,0
408,43062,43062,ACIDENTE,NOVO GAMA,GO,NaN,25/09/2010,16:30:00,1
688,44198,44198,ACIDENTE,BURITAMA,SP,NaN,19/03/2011,11:18:00,0
1035,51785,51785,INCIDENTE,BURITAMA,SP,SIBX,25/10/2011,19:15:00,0
1377,45939,45939,ACIDENTE,UMUARAMA,PR,NaN,30/05/2012,19:00:00,0
1401,46180,46180,ACIDENTE,AURIFLAMA,SP,NaN,16/06/2012,19:30:00,0
2099,49113,49113,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,15/06/2013,12:00:00,4
2102,48799,48799,ACIDENTE,CANUTAMA,AM,NaN,18/06/2013,21:30:00,0
2655,51347,51347,INCIDENTE,DIADEMA,SP,NaN,04/05/2014,16:00:00,0
2855,52340,52340,ACIDENTE,FAMA,MG,NaN,20/09/2014,15:00:00,1
2966,52832,52832,ACIDENTE,BURITAMA,SP,NaN,14/12/2014,23:40:00,0
2997,52979,52979,ACIDENTE,IVINHEMA,MS,NaN,02/01/2015,14:50:00,0
3040,52984,52984,ACIDENTE,NOVA LIMA,MG,SJLY,01/02/2015,15:10:00,0
3092,53596,53596,INCIDENTE,ITAPEMA,SC,NaN,10/03/2015,21:35:00,0
3157,53223,53223,ACIDENTE,PINDORAMA,SP,NaN,22/04/2015,12:45:00,0
3171,53265,53265,ACIDENTE,PACARAIMA,RR,SDMM,05/05/2015,16:05:00,2
3189,53271,53271,INCIDENTE GRAVE,UMUARAMA,PR,NaN,17/05/2015,17:00:00,0
3682,65414,65414,INCIDENTE GRAVE,NOVA LIMA,MG,SJLY,08/07/2016,19:50:00,1
3725,65633,65633,INCIDENTE GRAVE,NOVA LIMA,MG,NaN,31/08/2016,17:40:00,0
3881,66265,66265,ACIDENTE,BURITAMA,SP,NaN,13/01/2017,16:00:00,0
4229,77371,77371,ACIDENTE,CANUTAMA,AM,SDKH,02/11/2017,19:30:00,1
4311,77612,77612,ACIDENTE,ITAPEMA,SC,NaN,06/01/2018,10:30:00,0
4574,78080,78080,ACIDENTE,ITAPEMA,SC,NaN,28/07/2018,14:20:00,0
4986,78867,78867,INCIDENTE,IRACEMA,RR,NaN,06/07/2019,00:00:00,0
5070,78923,78923,INCIDENTE GRAVE,CANUTAMA,AM,NaN,03/09/2019,14:00:00,0
5080,78782,78782,ACIDENTE,IVINHEMA,MS,NaN,08/09/2019,17:45:00,0
5405,79282,79282,ACIDENTE,ITURAMA,MG,NaN,11/04/2020,12:20:00,0
5440,79338,79338,INCIDENTE,IVINHEMA,MS,NaN,15/05/2020,09:40:00,0
5474,79400,79400,INCIDENTE,IBIRAMA,SC,NaN,09/06/2020,14:00:00,0

In [48]:
#ocorrencia cuja cidade contém em qualquer parte do conteúdo os caracteres MA
filtro = df.ocorrencia_cidade.str.contains('MA|LA')
df.loc[filtro]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
7,39707,39707,INCIDENTE GRAVE,CANUTAMA,AM,NaN,09/01/2010,12:30:00,3
13,39507,39507,ACIDENTE,PRIMAVERA DO LESTE,MT,NaN,11/01/2010,17:00:00,2
15,39315,39315,ACIDENTE,CANUTAMA,AM,NaN,15/01/2010,21:22:00,0
28,39321,39321,ACIDENTE,PONTES E LACERDA,MT,NaN,23/01/2010,13:00:00,2
35,39487,39487,INCIDENTE GRAVE,PALMAS,TO,SBPJ,26/01/2010,16:50:00,0
...,...,...,...,...,...,...,...,...,...
5739,79749,79749,ACIDENTE,MARITUBA,PA,NaN,26/12/2020,12:05:00,0
5741,79754,79754,INCIDENTE GRAVE,NOVA MARINGÁ,MT,NaN,28/12/2020,13:00:00,0
5745,79755,79755,ACIDENTE,MATO RICO,PR,NaN,29/12/2020,10:30:00,0
5746,79769,79769,INCIDENTE GRAVE,MANOEL URBANO,AC,SIMB,29/12/2020,18:30:00,0
5748,79757,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,NaN,30/12/2020,18:30:00,0

#ocorrencia do ano 2015 e mês 12 e dia 8
filtro_ano = df.ocorrencia_dia.dt.year == 2015
filtro_mes = df.ocorrencia_dia.dt.month == 12
filtro_dia_inicio = df.ocorrencia_dia.dt.day > 2 
filtro_dia_fim = df.ocorrencia_dia.dt.day < 10
df.loc[filtro_ano & filtro_mes & filtro_dia_inicio & filtro_dia_fim]

In [ ]:
df['ocorrencia_dia_hora'] = pd.to_datetime(df.ocorrencia_dia.astype(str) + ' ' + df.ocorrencia_hora)

In [55]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_dia_hora
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,NaN,03/01/2010,12:00:00,1,03/01/2010 12:00:00
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,03/01/2010,11:05:00,1,03/01/2010 11:05:00
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,03/01/2010,03:00:00,1,03/01/2010 03:00:00
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,NaN,04/01/2010,17:30:00,1,04/01/2010 17:30:00
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,05/01/2010,19:25:00,1,05/01/2010 19:25:00